VITE_FIREBASE_API_KEY="ton_api_key_ici"
VITE_FIREBASE_AUTH_DOMAIN="kettleapppro.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="kettleapppro"
VITE_FIREBASE_STORAGE_BUCKET="kettleapppro.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="ton_sender_id_ici"
VITE_FIREBASE_APP_ID="ton_app_id_ici"
